.num>div>input,
.calobj>div>input,
.num>div>button {
    width: 60px;
    height: 30px;
    margin: 5px 5px;
}

.memory>input {
    width: 46px;
    height: 30px;
    margin: 5px 5px;
}

.mon {
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 30px;
}

.calobj {
    position: relative;
    top: -160px;
    left: 210px;
}

.output {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: 40px;
    width: 280px;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
    top: 20px;
    width: 330px;
    height: 310px;
}

.main {
    position: absolute;
    left: 25px;
    top: 20px;
}